main {
  padding: 1em;
}

#new-subject {
  color: hsl(125, 45%, 65%);
  cursor: pointer;
  width:max-content;
}

#new-subject:hover {
  color: hsl(125, 45%, 75%);
}

#subjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  grid-gap: 1em;
  align-items: flex-start;
}

#subjects:not(:empty)+h3 {
  display: none;
}

.subject {
  display: flex;
  color: inherit;
  text-decoration: none;
  text-align: center;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.subject svg, .sub-name {
  display: block;
  width: 100%;
  height: auto;
}

.subject svg {
  border: 3px solid white;
  fill: white;
  cursor: pointer;
}

.subject svg text {
  font-family: "lucida bright", Georgia, serif;
}

.subject:hover svg {
  border-color: #EEA;
  fill: #EEA;
}

.sub-name {
  padding-top: 5px;
  cursor: pointer;
  width: auto;
}

.subject:hover .sub-name {
  color: #EEA;
}
