#log-in {
  max-width:1024px;
  margin: 0 auto;
}

#log-in ul {
  padding: 0;
  display: flex;
}

#log-in li {
  cursor: pointer;
  display: block;
  text-align: center;
  flex-grow: 1;
  font-size: 1.15em;
  padding: 0.5em;
  color: white;
  border: 2px ridge white;
  margin: 0.5em;
}

#log-in li:hover {
  color: #EEA;
  border-color: #EEA;
  background-color: #AA82;
}

#log-in span.new-password {
  color: #DD7;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#log-in span.new-password:hover {
  text-decoration: underline;
}

#log-in span.new-password:active {
  color: #FFE;
}

#log-in.access-account form:not([name=access-account]),
#log-in.create-account form:not([name=create-account]),
#log-in.new-password form:not([name=new-password]) {
  display: none;
}

#log-in form {
  display: block;
}

#log-in fieldset, #log-in fieldset>*:not(legend) {
  margin: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#log-in form[name=new-password] span:last-child {
  flex-flow: row wrap;
}

#log-in button {
  margin: 0 0.2em;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: 0;
  border: 2px solid white;
  color: white;
  padding: 0.4em 0.8em;
}

#log-in button:hover, #log-in button:active, #log-in button:focus {
  border-color: #EEA;
  color: #EEA;
}

#log-in button:focus {
  outline: none;
}

#log-in fieldset span {
  padding: 0.4em 0;
}

#log-in .hint {
  color: red;
  font-size: 0.8em;
}

#log-in .info {
  color: #DD7;
  font-size: 0.8em;
}
